.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 10rem;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding-left: 3rem;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
